@(message: String)

@main("Welcome to Play") { 
<script>
var url = "http://localhost:9000/word/autocompletion/"; 

$(function(){
  $( "#tags" ).autocomplete( {
  	source: function (request, response) {
         $.ajax({
             url: "http://localhost:9000/word/autocompletion/" + $( "#tags" ).val(),
             data: { q: request.term },
             dataType: "json",
             success: response,
             error: function () {
                 response([]);
             }
         });
     }
  
  , autoFocus: true, minLength: 1});
});

</script>


<div class="ui-widget">
  <label for="tags">Bandas: </label>
  <input id="tags" >
</div> 



}